body {
	font-size: 5.9vw;
	color: white;
	background: url("header.JPG");
	background-size: cover;
	background-position: center;
	background-attachment: fixed; 
	text-align: center;
	margin: 0px;
	padding: 0px;
}

h1 {
	padding: 100px 10px opx 10px;
	position: relative;


}

ul {
	padding: 10px;
	background: rgba(0,0,0,0.1);
}

li {
	display: inline;
	padding: 0px 10px 0px 10px;
}



/* Map link - save for later - anouther page is probably best */
/*#map {
	position: relative;
	left: 200px;
	top: 100px;


	width: 500px;
	height: 400px;
	background-color: #ccc;
}*/

